article {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    @include box-shadow(0, 0, 24px, rgba(0,0,0,0.04));
    .article-photo {
        height: inherit;
        display: block;
        position: relative;
        overflow: hidden;
        figure {
            margin: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .article-summary {
        padding: 18px 25px 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        .article-content {
            p.categories {
                margin-bottom: 0;
                a {
                    @include articleCategory(16px);
                }
            }
            a {
                @include articleTitleLink(22px, 28px);
            }
            .article-description {
                margin-top: 20px;
                color: #333333;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
    h2.entry-title {
        a {
            @include articleTitleLink(22px, 28px);
        }
    }
    .entry-summary {
        p {
            color: #333333;
            font-family: "Playfair Display";
            a {
                color: #333;
                border-bottom: 1px solid $alizarin-crimson;
            }
        }
    }
}

@include tablet-only {
    article {
        .article-summary {
            padding: 20px;
        }
    }
}