.black-comment {
    width: 100%;
    background-color: $bg-black;
    padding: 73px;
    position: relative;
    border-bottom: 6px solid $lightening-yellow;
    margin: 30px 0;
    img.icon-quote {
    	position: absolute;
    	left: 40px;
    	top: 40px;
    }
    p {
    	padding-right: 190px;
      font-size: 24px;
      line-height: 1.3em;
      color: white;
      margin-bottom: 1.6em !important;
    }
    img.img-doug {
    	position: absolute;
    	width: 270px;
    	right: 20px;
    	bottom: 0;
    }
    @include touch {
    	padding: 20px 20px 0;
    	text-align: center;
    	display: flex;
	    flex-direction: column;
	    align-items: center;
    	p {
    		padding-right: 0;
    		text-align: left;
    		padding-top: 30px;
    	}
    	img.img-doug {
    		position: relative;
    		margin-top: 20px;
            right: 0;
    	}
    	img.icon-quote {
    		left: 20px;
    		top: 20px;	
    	}
    }
    @include desktop-only {
    	padding: 73px 73px 0;
    	text-align: center;
    	p {
    		padding-right: 0;
    		text-align: left;
    	}
    	img.img-doug {
    		position: relative;
    		margin-top: 30px;
    	}
    }
}