section.consultation {
    background-color: $cod-gray;
    img {
        width: 100%;
    }
    .form {
        padding-top: 75px;
        .wrapper {
            max-width: 700px;
            text-align: center;
            margin: 0 auto;
            h1 {
                color: white;
            }
            p {
                color: #686868;
                margin-bottom: 0;
            }
            form {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
@include mobile {
    section {
        &.consultation {
            .form {
                padding: 36px 0 0;
                .wrapper {
                    >p, >h1 {
                        padding: 0 20px;
                    }
                    >p {
                        margin-bottom: 5em;
                    }
                }
            }
        }
    }
}