@include from($fullhd) {
    .container {
        max-width: 1140px;
        width: 1140px;
        padding: 0 !important;
    }
}
@include desktop-only {
	.container {
		padding: 0 !important;
	}
}
.container {
    padding: 0 20px;
}