section.latest-articles {
    padding-top: 200px;
    padding-bottom: 140px;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
    background-color: #E6E6E6;
    .articles-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 30px;
        margin-bottom: 40px;
        .view-all {
            a {
                @include btnViewAll();
                color: black;
            }
            img {
                margin-left: 15px;
                width: 17px;
            }
        }
    }
    .column {
        .article {
            @include box-shadow(0, 0, 24px, rgba(0,0,0,0.04));
            .article-photo {
                height: 200px;
                background-size: cover;
            }
            .article-summary {
                padding: 40px;
                .article-title {
                    color: #333333;
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 28px;
                    margin-bottom: 20px;
                }
                .article-description {
                    color: #333333;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }
}