.posts-navigation {
    display: flex;
    justify-content: space-between;
    .separator {
        display: none;
    }
    a {
        color: #333;
        display: flex;
        align-items: center;
        font-weight: bold;
        span {
            width: 40px;
            height: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ddd;
            background-color: white;
            font-size: 24px;
            &.left {
                margin-right: 15px;
            }
            &.right {
                margin-left: 15px;
            }
        }
    }
}