.posts-navigation {
    margin-top: 30px;
    a {
        color: #181818;
        font-weight: 600;
    }
    .nav-previous,
    .nav-next {
        display: inline-block;
        width: 50%;
    }
    .nav-previous a {
        &:before {
            background: white;
            font-family: fontawesome;
            content: "\f104";
            width: 41px;
            height: 41px;
            font-size: 18px;
            border-radius: 2px;
            background-color: white;
            border: solid 1px #efefef;
            display: inline-block;
            text-align: center;
            line-height: 41px;
            margin-right: 15px;
        }
    }       
    .nav-next {
        text-align: right;
        a:after {
            background: white;
            font-family: fontawesome;
            content: "\f105";
            width: 41px;
            height: 41px;
            font-size: 18px;
            border-radius: 2px;
            background-color: white;
            border: solid 1px #efefef;
            display: inline-block;
            text-align: center;
            line-height: 41px;
            margin-left: 15px;
        }
    }
}