section {
	&.search-result {
		.results-list {
			margin-top: 100px;
			border-top: 4px solid #181818;
			background-color: white;
			padding: 40px;
			article {
				border-bottom: 1px solid #efefef;
				padding: 30px 0;
				background-color: transparent;
				.meta-data {
					margin-bottom: 15px;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
		.posts-navigation {
			h2 {
				display: none;
			}
		}
	}
	@include mobile {
		&.search-result {
			.results-list {
				margin-top: 50px;
				padding: 20px;
				article {
					padding: 10px 0;
				}
			}
		}
	}
}