
/* General styles for all menus */

.cbp-spmenu {
	background: $bg-black;
    position: fixed;
    font-size: 18px;
    .btn-close {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 21px;
        height: 21px;
        img {
            vertical-align: top;
        }
	}
	h3 {
		color: #afdefa;
		font-size: 1.9em;
		padding: 20px;
		margin: 0;
		font-weight: 300;
		background: #0d77b6;
	}
	a {
		display: block;
		color: #fff;
		font-size: 1em;
		font-weight: 600;
		line-height: 3em;
		text-transform: uppercase;
		&:active {
			background: #afdefa;
			color: #47a3da;
		}
		i {
			margin-right: 10px;
		}
	}	
	.is-overflow-visible {
    overflow-y: scroll;
	}
	.menu-items {
    transition: transform .5s ease;
    margin-top: 78px;
    padding: 0 40px;
	}
	&.is-active-submenu {
		.menu-items {
	    transform: translate3d(-100%,0,0);
		}
	}
	.menu-item-has-children {
		>a {
			&:after {
				color: #fff;
		    border-style: solid;
		    border-width: .15em .15em 0 0;
		    content: "";
		    display: inline-block;
		    height: .6em;
		    position: absolute;
		    top: 50%;
		    vertical-align: top;
		    width: .6em;
		    right: 10px;
		    transform: rotate(45deg) translateY(-100%);
			}
		}
	}
	.sub-menu {
		display: none;
    transform: translate3d(100%,0,0);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    padding: 0 40px;
    &.is-active {
	    display: block;
    	opacity: 1;
    }
	}
	.cbp-spmenu-footer {
		height: 70px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: $lightening-yellow;
		padding: 20px 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.social-share {
			display: flex;
			align-items: center;
			a {
				margin: 0 5px;
			}
		}
		.searchform {
      #mobile_input_search {
          width: calc(100% - 110px);
          right:70px;
          background-color: $lightening-yellow;
          font-size: 18px;
        	color: #1B1B1B;
          &.expanded {
              max-width: calc(100% - 110px);
          }
      }
	  }
	}
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 99999;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-right {
	right: -100%;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
    a, .search-box {
        @include fadeInDown(
            $duration: 1s,
            $count: 1,
            $delay: .2s,
            $function: ease, 
            $fill: both
        );
	}
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}