section.subscribe {
    margin-bottom: 100px;
    .container {
        padding: 57px 0 64px 87px;
        background-size: cover;
        border-left: 10px solid $dark-yellow;
        h1, p {
            color: white;
        }
        form {
            input {
                width: 298px;
                height: 48px;                
            }
            button {
                height: 48px;
                width: 153px;
                background-color: $red;
            }
        }
    }
    @include mobile {
        padding: 0 16px;
        margin-bottom: 60px;
        .container {
            padding: 60px 40px;
            form {
                margin-top: 32px;
                .field.has-addons {
                    flex-direction: column;
                    button {
                        width: 100%;
                        margin-top: 15px;
                    }
                }
            }
            h1 {
                font-size: 34px;
                line-height: 48px;
                margin-bottom: 0;
            }
            p {
                line-height: 19px;
            }
        }
    }
}