*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/themes/baalspots/dist
wp-content/themes/baalspots/bower_components
wp-content/themes/baalspots/node_modules
wp-content/themes/baalspots/npm-debug.log
wp-content/themes/baalspots/vendor
wp-content/plugins

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
wp-content/plugins/ol_scrapes/logs/logs.txt
