.awardLogosWrapper {
	.logos {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.logo {
			width: 20%;
			margin-bottom: 50px;
			text-align: center;
			img {
				width: auto;
				max-height: 70px;
			}
		}
	}
}