.blog-share {
	.social-share-icons {
		a {
			font-size: 20px;
			color: #7f7f7f;
			line-height: 1;
		}
	}
}

#side-bar {
	padding: 0;
	.blog-share {
		margin-top: 120px;
		display: flex;
		justify-content: flex-end;
		padding: .75rem;
		.social-share-icons {
			display: flex;
			flex-direction: column;
			a {
				margin: 15px 0;
			}
		}
	}	
}

.summary {
	.blog-share {
		margin-top: 30px;
		.social-share-icons {
			display: flex;
			a {
				margin-right: 15px;
				img {
					margin-top: 3px;
				}
			}
		}
	}
}