// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// font family
$fontOpenSans: 'Open Sans';
$fontTrueno: 'Trueno';

//background colors
$seashell: #F1F1F1;
$cod-gray: #1b1b1b;
$mercury: #e6e6e6;
$bg-articlePhoto: lightgray;
$sunglow: #FCCF32;
//colors
$lightening-yellow: #FAC627;
$alizarin-crimson: #DA2128;
$gray: #818181;
$endeavour: #00529B;
$san-juan: #2D5874;
$tuna: #302F35;