.pg-404, .pg-thankyou {
	text-align: center;
	padding-top: 200px;
	section.alert {
		.container {
			h1 {
				margin-bottom: 30px;
				margin-top: 0;
			}
			.sm {
				font-size: 14px;
				color: #242424;
				line-height: 22px;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.alert {
				margin-bottom: 30px;
				color: $cod-gray;	
			}
			.goBack {
				display: flex;
		    align-items: center;
		    justify-content: center;
		    a {
		    	@include textLink();
	    		color: #242424;
	    		font-weight: bold;
		    }
		    img {
	  	    margin-left: 10px;
			    width: 14px;
		    }
			}
		}
	}
	@include mobile {
		padding-top: 100px;
	}
}

.pg-404 {
	height: 930px;
	@include mobile {
		height: 600px;
	}
}

.pg-thankyou {
	height: auto;
	section.subscribe {
		text-align: left;
		margin-top: 70px;
	}
}