// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//background colors
$bg-primary: #F1F1F1;
$bg-black: #1b1b1b;

//colors
$dark-yellow: #FAC627;
$red: #DA2128;
$grey: #818181;
$blue: #00529B;
$dark-blue: #2D5874;