// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// font family
$fontPoppins: 'Poppins';

//background colors
$bg-primary: #F1F1F1;
$bg-black: #1b1b1b;
$bg-grey: #e6e6e6;
$bg-articlePhoto: lightgray;
//colors
$lightening-yellow: #FAC627;
$alizarin-crimson: #DA2128;
$gray: #818181;
$endeavour: #00529B;
$san-juan: #2D5874;